#TileTopBlank {
  fill: rgb(255, 255, 255);
}

#TileRightBlank {
  fill: rgb(228, 228, 228);
}

#TileLeftBlank {
  fill: rgb(240, 240, 240);
}

#TileBaseBlank {
  fill: rgb(255, 255, 255);
}

#TileTopColour {
  fill: rgb(130, 43, 253);
}

#TileRightColour {
  fill: rgb(119, 39, 233);
}

#TileLeftColour {
  fill: rgb(148, 73, 255);
}

#TileBaseColour {
  fill: rgb(130, 43, 253);
}

#TileStrokeColour {
  fill: rgb(196, 43, 253);
}
